.projects {
  background: $grey;
  width: 100%;
  height: auto;
}

.projects_label {
  display: flex;
  flex: 1 1 100%;
  margin-bottom: 0.5em;
  margin-left: 0.5rem;
  margin-top: 10vh;
  letter-spacing: -1px;
  font-size: 3rem;
  font-weight: 400;

  //   &.h2 {
  //     padding: 0;
  //     margin-right: 0;
  //   }
}

.links_container {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 100%;
}

.project_link {
  width: 48%;
  height: auto;
  margin-right: 2rem;
  margin-bottom: 2rem;
  text-decoration: none;
  box-shadow: 0 0 0 rgba($black, 0);

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 14px rgba($black, 0.1);
  }
}

.project_link_image {
  display: block;
  width: 100%;
  height: auto;
}

.project_link_content {
  position: relative;
  background: $white;
  //   border-radius: 4px;

  //   margin-bottom: 2rem;
  top: 0;
  //   justify-items: center;
}

.project_link_content h3 {
  text-align: center;
  margin-bottom: 0;
  color: $black;
  letter-spacing: 0;
  line-height: 1.2;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 25px;
  //   transition: color 300ms ease;
}
