html {
  font-size: 12px;
}

body {
  font-family: $sans;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.8;
  color: $black;
  height: 100vh;
  //something font-smoothing
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 0 0 12rem;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10vh;
  //smooth scroll
}

section {
  display: flex;
  flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  //   text-align: center;
  width: 100%;
  height: auto;
}

/* Section Images */
// section#home {
//   background: url("https://source.unsplash.com/bZZp1PmHI0E/1600x900") no-repeat
//     center center/cover;
// }

// section#work {
//   background: url("https://source.unsplash.com/K2tdx2mFDHc/1600x900") no-repeat
//     center center/cover;
// }

// section#contact {
//   background: url("https://source.unsplash.com/2aAHlfDOhJM/1600x900") no-repeat
//     center center/cover;
// }
