* {
  margin: 0;
  padding: 0;
}

h1,
h3,
h2 {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  font: inherit;
}

img {
  max-width: 100%;
}

html {
  font-size: 12px;
}

body {
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.8;
  color: #5d5d5d;
  height: 100vh;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 0 0 12rem;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10vh;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

/* Section Images */
.nav {
  position: relative;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 60px;
}

.nav_container {
  width: 90%;
  height: auto;
  margin: 0 0 0 12rem;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.nav ul {
  display: flex;
  list-style: none;
  margin-top: 3rem;
  margin-right: 5%;
  margin-left: auto;
}

.nav ul li {
  padding: 2.5rem;
}

.nav ul li a {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: #5d5d5d;
  transition: color 250ms ease;
}

.nav ul li a:hover {
  color: #153768;
}

.nav_icon {
  height: auto;
  margin: 0;
  padding: 40px 0 0 20px;
}

.nav_icon a img {
  width: 80px;
  height: auto;
  overflow: visible;
  transition: all 200ms ease-in-out;
}
.nav_icon a img:hover {
  transform: translateY(-3px);
  opacity: 0.9;
}

.home_container {
  display: flex;
  flex-flow: row wrap;
}

.home_title {
  position: relative;
  max-width: 840px;
  margin: 5em 0 0 0.5em;
  letter-spacing: -1px;
  line-height: 1.7;
  font-size: 3rem;
  font-weight: 400;
  flex: 1 1 0;
}

.home_title a {
  color: #00204e;
  text-decoration: none;
}
.home_title a:hover {
  color: #5d5d5d;
}

.employer_container {
  display: flex;
  flex-wrap: wrap;
  margin: 5em 0 0 1em;
}

.employer {
  width: 200px;
  height: auto;
  padding-right: 30rem;
}

.previous_employer {
  width: 600px;
  height: auto;
}
.previous_employer.wrap {
  display: flex;
  flex-wrap: wrap;
}

.employer a img,
.previous_employer a img {
  width: 200px;
  height: auto;
  overflow: visible;
  transition: all 200ms ease-in-out;
}
.employer a img:hover,
.previous_employer a img:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}
.employer a img.dons,
.previous_employer a img.dons {
  margin-top: 2rem;
  padding-left: 2rem;
}

.employer h3,
.previous_employer h3 {
  width: 200px;
  margin-bottom: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 400;
}

.projects {
  background: #fbfbfb;
  width: 100%;
  height: auto;
}

.projects_label {
  display: flex;
  flex: 1 1 100%;
  margin-bottom: 0.5em;
  margin-left: 0.5rem;
  margin-top: 10vh;
  letter-spacing: -1px;
  font-size: 3rem;
  font-weight: 400;
}

.links_container {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 100%;
}

.project_link {
  width: 48%;
  height: auto;
  margin-right: 2rem;
  margin-bottom: 2rem;
  text-decoration: none;
  box-shadow: 0 0 0 rgba(93, 93, 93, 0);
}
.project_link:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 14px rgba(93, 93, 93, 0.1);
}

.project_link_image {
  display: block;
  width: 100%;
  height: auto;
}

.project_link_content {
  position: relative;
  background: #fff;
  top: 0;
}

.project_link_content h3 {
  text-align: center;
  margin-bottom: 0;
  color: #5d5d5d;
  letter-spacing: 0;
  line-height: 1.2;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 25px;
}

.footer {
  padding-left: 2.5rem;
}

.footer_container {
  display: inline-block;
}

.mail {
  position: relative;
  max-width: 840px;
  letter-spacing: -1px;
  line-height: 1.7;
  font-size: 3rem;
  font-weight: 400;
  flex: 1 1 0;
  color: #00204e;
  text-decoration: none;
}
.mail:hover {
  color: #5d5d5d;
}

.footer_title {
  position: relative;
  max-width: 840px;
  margin: 0 0 0 0.5em;
  letter-spacing: -1px;
  line-height: 1.7;
  font-size: 3rem;
  font-weight: 400;
  flex: 1 1 0;
}

.social_list {
  margin-left: 1.5rem;
  margin-bottom: 10rem;
  padding: 0;
  font-size: 1.6rem;
  display: flex;
  text-decoration: none;
}

.social_list_item {
  margin: 10px;
  list-style: none;
  text-decoration: none;
}

.social_list_item a {
  color: #5d5d5d;
  transition: color 250ms ease;
  text-decoration: none;
}
.social_list_item a:hover {
  color: #153768;
}

/*# sourceMappingURL=style.css.map */
